{% extends 'homepage/layout.html.twig' %}
{% block homepage_content %}
  <link href="/css/index.css" rel="stylesheet" />
  <div class="content">
    <!--轮播图-->
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <a href="javascript:"><img src="/files/292da190702c4f538b76b5eee23c48ee.jpg"></a>
        </div>
        <div class="swiper-slide">
          <a href="javascript:"><img src="/files/efcc7eeed9e04793a6b435f900428051.jpg"></a>
        </div>
        <div class="swiper-slide">
          <a href="javascript:"><img src="/files/7c51f11ab3d44618846e3130e955261a.jpg"></a>
        </div>
      </div>
      <div class="pagination"></div>
    </div>

    <!--全球领先的追溯解决方案-->
    <div class="part soluteList">
      <h3 class="title">全球领先的二维码追溯解决方案</h3>

      <div class="li active">
        <div class="block">

          <div class="head">
            <div class="img"><img src="/images/bcgy.png" alt=""></div>
            <h4>包材供应</h4>
            <p class="english">Material supply</p>
          </div>

          <ul class="desc">
            <li>赋码工艺</li>
            <li>专业赋码</li>
            <li>一物一码</li>
            <li>内外关联</li>
            <li>严格品控</li>
          </ul>
        </div>

        <div class="hover">

          <div class="head">
            <div class="img"><img src="/images/bcgy0.png" alt=""></div>
            <h4>包材供应</h4>
            <p class="english">Material supply</p>
          </div>

          <div class="detail">

            <div class="con">
              <h4>赋码工艺</h4>
              <p>供应各类防伪载体，适用多种材质</p>
              <a target="_blank"
                 href="http://wpa.qq.com/msgrd?v=3&uin=1041666498&site=qq&menu=yes">咨询方案</a>
            </div>

            <ul>
              <li>
                <h4>专业赋码</h4>
                <p>二维码赋码检测一体化，确保每一个二维码100%可读</p>
              </li>
              <li>
                <h4>一物一码</h4>
                <p>赋予产品独一无二的“身份证”</p>
              </li>
              <li>
                <h4>内外关联</h4>
                <p>率先实现内外码关联技术，外码破坏也能查询</p>
              </li>
              <li>
                <h4>严格品控</h4>
                <p>智能化检测，废品剔除</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="li">
        <div class="block">

          <div class="head">
            <div class="img"><img src="/images/cxgz.png" alt=""></div>
            <h4>产线改造</h4>
            <p class="english">Transformation of production</p>
          </div>

          <ul class="desc">
            <li>软硬件集成</li>
            <li>数&nbsp;据&nbsp;采&nbsp;集</li>
            <li>品&nbsp;质&nbsp;管&nbsp;控</li>
            <li>均&nbsp;衡&nbsp;生&nbsp;产</li>
            <li>盘&nbsp;活&nbsp;库&nbsp;存</li>
          </ul>
        </div>

        <div class="hover">

          <div class="head">
            <div class="img"><img src="/images/cxgz0.png" alt=""></div>
            <h4>产线改造</h4>
            <p class="english">Transformation of production</p>
          </div>

          <div class="detail">

            <div class="con">
              <h4>软硬件集成</h4>
              <p>产线的一体化服务</p>
              <a target="_blank"
                 href="http://wpa.qq.com/msgrd?v=3&uin=1041666498&site=qq&menu=yes">咨询方案</a>
            </div>

            <ul>
              <li>
                <h4>数据采集</h4>
                <p>工业读码，保证每一个赋码产品100%可读</p>
              </li>
              <li>
                <h4>品质管控</h4>
                <p>标准化流程，保证无漏扫、重扫</p>
              </li>
              <li>
                <h4>均衡生产</h4>
                <p>取代区域数字码，计划性生产</p>
              </li>
              <li>
                <h4>盘活库存</h4>
                <p>随存随发、提高效率</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="li">
        <div class="block">

          <div class="head">
            <div class="img"><img src="/images/qdlt.png" alt=""></div>
            <h4>渠道流通</h4>
            <p class="english">Channel distribution</p>
          </div>

          <ul class="desc">
            <li>防&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;伪</li>
            <li>防&nbsp;&nbsp;&nbsp;窜&nbsp;&nbsp;&nbsp;货</li>
            <li>流&nbsp;通&nbsp;监&nbsp;管</li>
            <li>经销商管理</li>
            <li>仓&nbsp;储&nbsp;物&nbsp;流</li>
          </ul>
        </div>

        <div class="hover">

          <div class="head">
            <div class="img"><img src="/images/qdlt0.png" alt=""></div>
            <h4>渠道流通</h4>
            <p class="english">Channel distribution</p>
          </div>

          <div class="detail">

            <div class="con">
              <h4>防伪验证</h4>
              <p>微信公众号验证，保真打假</p>
              <a target="_blank"
                 href="http://wpa.qq.com/msgrd?v=3&uin=1041666498&site=qq&menu=yes">咨询方案</a>
            </div>

            <ul>
              <li>
                <h4>窜货可纠</h4>
                <p>二维码与订单关联，窜货查询快捷方便</p>
              </li>
              <li>
                <h4>产品溯源</h4>
                <p>从生产到消费，全程追溯</p>
              </li>
              <li>
                <h4>经销商管理</h4>
                <p>及时供货、促销支持、减少商品流通阻力</p>
              </li>
              <li>
                <h4>渠道管理</h4>
                <p>渠道透明化、信息化管理</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="li last-child">
        <div class="block">

          <div class="head">
            <div class="img"><img src="/images/dyyx.png" alt=""></div>
            <h4>多元营销</h4>
            <p class="english">Multiple marketing</p>
          </div>

          <ul class="desc">
            <li>多元营销</li>
            <li>微信红包</li>
            <li>积分抽奖</li>
            <li>区域活动</li>
            <li>多重奖励</li>
            <li>精准营销</li>
          </ul>
        </div>

        <div class="hover">

          <div class="head">
            <div class="img"><img src="/images/dyyx0.png" alt=""></div>
            <h4>多元营销</h4>
            <p class="english">Multiple marketing</p>
          </div>

          <div class="detail">

            <div class="con">
              <h4>多元营销</h4>
              <p>商品促销、文化传播、会员营销、门店促销员激励</p>
              <a target="_blank"
                 href="http://wpa.qq.com/msgrd?v=3&uin=1041666498&site=qq&menu=yes">咨询方案</a>
            </div>

            <ul>
              <li>
                <h4>自媒体营销</h4>
                <p>微博、微信等自媒体运营</p>
              </li>
              <li>
                <h4>趣味营销</h4>
                <p>结合产品性质的小游戏、小活动</p>
              </li>
              <li>
                <h4>数字营销</h4>
                <p>大数据的采集、整理、分析</p>
              </li>
              <li>
                <h4>市场营销</h4>
                <p>线上、线下配合一体化促销</p>
              </li>
              <!--<li>
                  <h4>推广营销</h4>
                  <p>线上商城搭建、第三方商城入驻</p>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>



  </div>
  <script src="/js/swiper.js"></script>
  <script src="/js/index.js"></script>
  <script type="text/javascript">
    $(function () {
      main.init();
    });
  </script>
{% endblock %}
{% block homepage_script %}
  <script type="text/javascript">
    $(function () {
      new backTop({
        container: ".backTop",
        scrollTime: 500,
        scrollEachlength: 15
      });
    });
  </script>
  <script>
    (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();
  </script>
{% endblock %}