{% extends 'homepage/layout.html.twig' %}
{% block homepage_content %}
  <link href="/css/index.css" rel="stylesheet" />
  <div class="content">
    <style>
      .swiper-wrapper img{
        max-height: 500px;
      }
    </style>
    <!--轮播图-->
    {% include 'homepage/index/swiper.html.twig' %}
    {% include 'homepage/index/solute.html.twig' %}
    {% include 'homepage/index/trace.html.twig' %}
    {% include 'homepage/index/company-profile.html.twig' %}
    {% include 'homepage/index/news.html.twig' %}

  </div>
  <script src="/js/swiper.js"></script>
  <script src="/js/index.js"></script>
  <script type="text/javascript">
    $(function () {
      main.init();
    });
  </script>
{% endblock %}
{% block homepage_script %}
  <script type="text/javascript">
    $(function () {
      new backTop({
        container: ".backTop",
        scrollTime: 500,
        scrollEachlength: 15
      });
    });
  </script>
  <script>
    (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();
  </script>
{% endblock %}