

<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{ setting('site.name', '创逸科技') }}</title>
  <meta name="keywords" content="{{ setting('site.seo_keywords') }}">
  <meta name="description" content="{{ setting('site.seo_description') }}">
  <link rel="icon" href="/favicon.ico">
  <link href="/css/base.css" rel="stylesheet" />
  <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
  <script src="/js/header.js"></script>
  <script src="/js/backTop.js"></script>
  {{ setting('site.analytics')|raw }}

</head>
<body>
<div id="container">
  <!-- 头部 -->
  {% include 'homepage/header.html.twig' %}
  {% block homepage_content %}

  {% endblock %}
  <!-- 侧边栏 -->
  {% include 'homepage/right-bar.html.twig' %}
  <!-- 底部 -->
  {% include 'default/footer.html.twig' %}

</div>
{% block homepage_script %}

{% endblock %}

</body>
</html>