

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> 杭州微育科技有限公司 二维码系统 追溯系统 赋码系统 互动营销 防伪防窜 人事系统 排班考勤</title>
  <meta name="keywords" content="二维码系统,追溯系统,赋码系统,互动营销,防伪防窜,人事系统,人力资源系统,排班考勤,HR系统,企业号,移动应用">
  <meta name="description" content="杭州微育科技有限公司坐落于美丽的西子湖畔杭州，提供专业成熟的人事系统解决方案，一直致力于将物联网和移动互联网技术全方位应用于企业数字化、移动化和信息化管理等方面的研发和推广。产品主要有人力资源系统、排班考勤系统、供应商管理、原料采购管理、原料库管理、生产投料管理、包装赋码管理、成品库管理、经销商管理、防窜货管理、防伪、缺陷召回、消费者管理等。">
  <link rel="icon" href="/favicon.ico">
  <link href="/css/base.css" rel="stylesheet" />
  <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
  <script src="/js/header.js"></script>
  <script src="/js/backTop.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?69974735601a46781faaa614abe7a69d";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>


</head>
<body>
<div id="container">
  <!-- 头部 -->
  {% include 'homepage/header.html.twig' %}
  {% block homepage_content %}

  {% endblock %}
  <!-- 侧边栏 -->
  {% include 'homepage/right-bar.html.twig' %}
  <!-- 底部 -->
  {% include 'default/footer.html.twig' %}
</div>
{% block homepage_script %}

{% endblock %}

</body>
</html>