<div class="rightBar">
  {% set setting = setting('homepage_swiper', []) %}
  <div class="barList">
    <a class="phoneNum" href="javascript:;">
      <img src="/images/phone.png">
      <p>{{ setting.connect.mobile|default() }}</p>
    </a>

    <a class="qqNum" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{ setting.connect.qq|default()}}&site=qq&menu=yes">
      <img src="/images/qq.png">
      <p>点击咨询</p>
    </a>

    <a href="javascript:;">
      <img src="/images/wx.png">
      <p class="code"><img src="{{ asset(setting.connect.weixin|default()) }}"></p>
    </a>

    <a href="javascript:;" class="backTop">
      <img class="backBtn" src="/images/top.png" alt="backTop">
      <div class="topText">回到<br>顶部</div>
    </a>
  </div>
</div>

<style>
  .asetrues {
    width: 120px;
    height: 132px;
    background: url(/images/board.png) no-repeat;
    position: fixed;
    top: 50%;
    right: 0px;
    z-index: 999999;
    margin-top: 197px;
    padding-top: 14px;
  }
  .asetrues .textx {
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    position: absolute;
    top: 69px;
    right: 26px;
    transform: rotate(
      16deg);
    -ms-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
    -webkit-transform: rotate(
      16deg);
    -o-transform: rotate(16deg);
  }
</style>
<div class="asetrues">
  <a href="{{ path('message_board') }}" target="_blank" title="" class="textx">在线咨询</a>
  <a href="#" title="" class="abg"></a>
</div>