{% set detail = setting.detail|default() %}

<div class="aboutbg" style="background:url({{ asset(detail['image']|default('images/index_55.jpg')) }}) center no-repeat;">
  <div class="contant">
    <div class="abright">
      <div class="abimg"><h2>创逸科技</h2></div>
      <div class="abp">
        {{ detail.content }}
      </div>
    </div>
  </div>
</div>